@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    25%, 75%, 50% {
        transform: translateX(-5px);
    }
    20%, 40%, 60% {
        transform: translateX(5px);
    }
}

.shake {
    animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) infinite;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

.hoverShake:hover {
    animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) both;
}

.footer-buttons {
    position: relative; /* Ustawiamy pozycję na względną */
    bottom: 0; /* Ustawiamy odstęp od dołu na 0 */
    width: 100%; /* Ustawiamy szerokość na 100% */
    background-color: #f8f9fa; /* Dodajemy kolor tła */
    padding: 20px; /* Dodajemy wewnętrzny odstęp */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Dodajemy cień */
}